/* CSS declarations go here */
@font-face {
	font-family: bankGothicLight;
	src: url('../assets/bank_gothic_light.ttf');
}

.banner {
	display: block;
	margin: 200px auto 40px auto;
	width: 1000px;
}

.greeting {
    font: 30px/60px bankGothicLight;
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 10px;
    width: 550px;
    background: rgb(64, 64, 128);
    background: rgba(64, 64, 128, .8);
}
