/* CSS declarations go here */
@font-face {
	font-family: bankGothicLight;
	src: url('../assets/bank_gothic_light.ttf');
}

body {
	background: #fff;
}

.banner {
	display: block;
	margin: 200px auto 0 auto;
	width: 950px;
	padding: 25px;
	border-radius: 10px;
	text-align: center;
	/*background: rgb(64, 64, 128);*/
	opacity: 0.9;
}

.greeting {
  font: 30px/30px bankGothicLight;
  text-align: center;

}

.examples {
	width: 1200px;
	margin: 0 auto;
}

.examples img {
	width: 300px;
	height: auto;
}

.login {
  margin: 50px auto 0;
  width: 800px;
}

.login .button {
	display: inline-block;
  font: 20px/40px bankGothicLight;
  height: 40px;
  width: 200px;
  color: white;
  text-align: center;
  border-radius: 10px;
	padding-top: 1px;
  background: rgb(64, 64, 128);
	opacity: 0.8;
	margin-left: 50px;
}

a {
	text-decoration: none;
}

.login .button:hover {
	opacity: 0.9;
}

.login .button:active {
	opacity: 1;
	line-height: 44px;
	vertical-align: bottom;
}

.mosaic {
	width: 800px;
	margin: 10px auto 0;
}
